# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.2DTowerDefense_v2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\maxim\2DTowerDefense_v2\.idea\.idea.2DTowerDefense_v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
